
.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.sidebar-container.scrollable {
  overflow-y: auto;
}

.sidebar-content {
  height: 100%;
  justify-content: space-evenly;
}

.sidebar-content.scrollable {
  justify-content: flex-start;
}

.sidebar-item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 120px;
  flex-direction: column;
}

.sidebar-link {
  display: inline-flex !important;
  padding: 15px;
  overflow: visible;
}

/* base styling for the icon container */
.sidebar-icon {
  color: #d7b7ac;
  font-size: 60px;
  transition: all 0.3s ease;
  /* Add stroke to the SVG */
  stroke: #009cb7;
  stroke-width: 6px;
  stroke-linejoin: round;
  stroke-linecap: round;
  display: block;
  overflow: visible !important;
}

/* Target all paths within the icon */
.sidebar-icon path {
  stroke: #009cb7;
  stroke-width: 28px;
  stroke-linejoin: round;
  stroke-linecap: round;
  paint-order: fill stroke;
  overflow: visible !important;
  transition: all 0.3s ease;
}

/* hover effect */
.sidebar-icon:hover {
  color: #3e93ba;
  stroke: #d5a4a4;
  scale: calc(1.2);
}

.sidebar-icon:hover path {
  stroke: #d5a4a4;
  scale: calc(1.1);
}

.sidebar-icon svg {
  overflow: visible !important;
}

.sidebar-link.active .sidebar-icon {
  color: #3e93ba;
  stroke: #d5a4a4;
  scale: calc(1.15);
}

.sidebar-link.active .sidebar-icon path {
  stroke: #d5a4a4;
  scale: calc(1.05);
}